@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
    background-color: #F8FAFC;
    color: #1E293B;
  }
}

@layer utilities {
  .text-body {
    font-size: 16px;
    font-weight: 400;
  }

  .text-meta {
    font-size: 13px;
    font-weight: 400;
    opacity: 0.8;
  }

  .text-h1 {
    font-size: 28px;
    font-weight: 500;
  }

  .text-h2 {
    font-size: 20px;
    font-weight: 500;
  }
}
